.custom-input {
    width: 100%; /* Ajuste a largura conforme necessário */
    max-width: 400px; /* Defina um valor máximo se necessário */
  }

  .custom-button {
    margin: 10px;
    background-color: #002F52; /* Exemplo de cor personalizada */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Para garantir que os botões fiquem em múltiplas linhas, se necessário */
    gap: 10px; /* Espaçamento entre os botões */
    margin-top: 20px; /* Espaçamento superior para afastar dos inputs */
  }