.custom-input {
    width: 100%; 
    max-width: 400px; 
  }

  .custom-button {
    margin: 10px;
    background-color: #002F52; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 10px; 
    margin-top: 20px; 
  }